@mixin font-face($font-family,$font-url,$font-weight: normal, $font-style: normal){
    @font-face {
        font-family: $font-family;
        font-weight: $font-weight;
        font-style: $font-style;
        src: url("#{$font-url}.oet");
        src: local("#{$font-family}"),
             url("#{$font-url}.oet") format("eot"),
             url("#{$font-url}.ttf") format("ttf"),
             url("#{$font-url}.woff") format("woff"),
             url("#{$font-url}.woff2") format("woff2");
    }
}