extends layout/app
block var
    - let page_title = "Home";
block content 
    .start 
        .start__content 
            .start__author 
                span ogashka
            .start__name 
                h1 Gulp starter 
            .start__social 
                a(href="https://t.me/ogashka_0047")
                    i.fa-brands.fa-telegram
                a(href="https://www.instagram.com/ogashka_00_")
                    i.fa-brands.fa-facebook
                a(href="https://github.com/")
                    i.fa-brands.fa-github
            

        