include ../include/_var
include ../blocks/*.pug
block var
doctype html
html(lang="en")
    head
        include ../include/_head
    body 
        //- Header
        block header 
            include header
        //- Content
        block content 
        //- Footer
        block footer 
            include footer
        //- Scripts
        include ../include/_script